@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body,
html {
  background-color: #f4f7fc;
  font-family: 'Roboto', sans-serif;
}

.container-header{
  background-color: #f5f57f;
  border-bottom: 2px solid #113cb3;
  display: flex;
  justify-content: center;
  height: 7.19rem;
  padding: 0.625rem;
  width: 100vw;
}

.logo-pokemon {
  height: 5.65rem;
  width: 18.75rem;
}

.container-main {

}

.title {
  color: #f5f57f;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 3rem;
  text-align: center;
  -webkit-text-stroke: 1px #113cb3;
}

.container-section {

}

.container-pokemon {

}

.content-pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.1rem;
  width: 100vw;
}

.btn {
  background-color: #58224e;
  border: none;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: .999rem;
  margin: .25rem .30rem;
  padding: .25rem .5rem;
}

.btn:disabled {
  background: #ccc;
}

.counter {
  color: #101016;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: .5rem;
  margin-right: .5rem;
}

.container-footer {
  background-color: #5a6068;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
  position: fixed;
  width: 100vw;
}

p {
  font-size: 1.1rem;
  font-weight: 650;
  margin-top: 0.938rem;
}

.logo-github {
  height: 2.8rem;
  width: 2.8rem;
}
